
$yellow: #fffdc6;
$bluish-grey: #e1e7f3;
$side-blue: #4993cf;
$side-blue-dk: #3e5bac;

$link-color: $blue-100;
$body-background-color: $grey-lt-000;
$sidebar-color: $grey-lt-200;
$nav-child-link-color:$blue-000;
$border-color: $grey-lt-300;
$code-background-color: $bluish-grey;